{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<main class="command-container">
    <h1>Mon panier</h1>
    <div>
        <a href="{{ path('app_command_delete', {id: command.id}) }}">x Vider le panier</a>
        <div class="product-list">
            {% for line in command.commandLines %}
                <div>
                    <figure>
                        <img src="" alt="">
                    </figure>
                    <div class="product-info">
                        <h3 class="label">{{ line.product.label }}</h3>
                        <span class="quantity">Quantité : {{ line.quantity }}</span>
                        <span class="product-price">{{ line.price }}€</span>
                        <span class="product-total">{{ totals.lines[line.id] }}€</span>
                    </div>
                </div> 
            {% endfor %}
        </div>
        <div class="command-total">
            <span class="command-total-value">Total panier : {{ totals.total }}€</span>
            <span>Frais de livraison : Offert</span>
        </div>
        <a class="btn" href="">Valider la commande</a>
    </div>
</main>
{% endblock %}
