{% extends 'base.html.twig' %}

{% block title %}{{ product.label }}{% endblock %}

{% block body %}
    <main id="product-page-content">
        <figure class="product-img">
            <img src="{{ asset('img/home_1.jpg') }}" alt="Image {{ product.label }}">
        </figure>
        <div class="product-container">
            <div class"product-info">
                <h1>{{ product.label }}</h1>
                <span>{{ product.price }}</span>
                <p>{{ product.description }}</p>
            </div>
            {% if user !== null %}
                <a class="btn" href="{{ path("app_command_add", {id: product.id}) }}"></a>
            {% else %}
            
            {% endif %}
            
            
        </div>
    </main>
{% endblock %}
