{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<main id="account-contant">
    <h1>Mon compte</h1>
    <div>
        <div class="commands-list">
            <h2>Mes commandes</h2>
                <table>
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Date</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for command in commands %}
                            <tr>
                                <td>{{ command.id }}</td>
                                <td>{{ command.creationDate|date('d/m/Y') }}</td>
                                <td>{{ totals[command.id] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            
        </div>
        <div>
            <h2>Mon accès API</h2>
            <a href="{{ path('app_user_activat_api') }}">{{ user.apiEnable ? "Désactiver mon accès API" : "Activer mon accès API" }}</a>
        </div>
        <div>
            <a href="{{ path('app_user_delete', {id: user.id}) }}">Supprimer mon compte</a>
        </div>
    </div>
</main>
{% endblock %}
